.App {
  text-align: center;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid #3a415769;
}

.logo {
  width: 85px;
  height: 40px;
  padding-right: 20px;
}

.networkSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  font-size: 16px;
  color: #dbe5ff;
  font-weight: bold;
}
.headerIcons {
  width: 25px;
  height: 25px;
  padding-right: 8px;
}
.defaultNetwork {
  color: #dbe5ff;
  font-weight: bold;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconButton {
  padding: 0px;
  background: none;
  border: none;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
  transition: 0.3s;
  font-weight: bold;
  display: flex;
  color: #dbe5ff;
  align-items: center;
  background: linear-gradient(37.28deg, #2f2f607a 6.51%, #01707554 88.45%);
}

.headerItem:hover {
  background-color: rgba(139, 151, 174, 0.555);
  cursor: pointer;
}
.gasSection {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #586084f7;
  font-weight: bold;
  font-size: 18px;
  gap: 5px;
  align-items: end;
}
.connectButton {
  display: flex;
  background: linear-gradient(37.28deg, #2f2f607a 6.51%, #01707554 88.45%);
  padding: 11px;
  gap: 6px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #dbe5ff;
  font-weight: bold;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  background-color: rgba(139, 151, 174, 0.432);
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tradeBox {
  width: 400px;
  background: linear-gradient(123.28deg, #2f2f6012 6.51%, #0b35331f 88.45%);
  border: 3px solid #2122333d;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 70px;
}

.tradeBoxHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.swapIcons {
  display: flex;
  gap: 20px;
}

.switchButton {
  background-color: #0e1426;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 81px;
  left: 180px;
  color: #5f6783;
  border: 3px solid #090a0f;
  font-size: 12px;
  transition: 0.3s;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
  margin-top: 3px;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;

  top: 36px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetOne:hover {
  cursor: pointer;
}

.assetTwo:hover {
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.quoteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(38.28deg, #2f2f6066 6.51%, #0170752e 88.45%);
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #dbe5ff;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}
.connectButtonDown {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #35456f52;
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #dbe5ff;
  font-weight: bold;
  gap: 5px;
  margin-bottom: 30px;
}
.connectButtonDown:hover {
  cursor: pointer;
  background-color: #63636345;
}
.bottomIcon {
  width: 32px;
  display: flex;
}

.quoteButton[disabled] {
  background: linear-gradient(38.28deg, #2f2f6066 6.51%, #0170752e 88.45%);
  opacity: 0.4;
  color: #86a7ffc2;
}

.quoteButton[disabled]:hover {
  cursor: not-allowed;
}

.quoteButton:hover {
  cursor: pointer;
  background-color: #0025676b;
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

@media (max-width: 500px) {
  .header {
    padding-left: 12px;
    padding-right: 0px;
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  .rightH {
    gap: 8px;
  }
}
@media (max-width: 500px) {
  .connectButton {
    padding: 12px;
  }
}
@media (max-width: 500px) {
  .headerItem {
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .tradeBox {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .switchButton {
    left: 43%;
  }
}
